<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="cursor: pointer;" (click)="navigationTo('home')">Notes App</a>
        <div>
        <button mat-raised-button color="primary" class="m-2" (click)="navigationTo('home/profile')">
            Profile
        </button>
        <button mat-raised-button color="primary" class="m-2" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
</nav>

<div class="layout-box" style="height: 100%; width: 100wh;">

    <div class="page-content">
        <router-outlet>

        </router-outlet>
    </div>


</div>
