<div class="container text-center align-items-center">
    <div class="p-5">

        <mat-icon class="mx-3">search</mat-icon>
        <mat-form-field>
            <input matInput (keyup)="filter($event.target.value)" type="text" name="search" placeholder="Search" style="width: 120%;" maxlength="20">
        </mat-form-field>

        <br><button mat-raised-button color="primary" style="width: 50%;" (click)="addNote()">
            <mat-icon>add</mat-icon> Add
        </button>

    </div>

    <br><div *ngIf="filteredNotes.length === 0">
        <p class="p-1 text-danger">Please refresh</p>
        <button mat-raised-button color="primary" style="width: 50%;" (click)="reloadCurrentPage()">
            <mat-icon>refresh</mat-icon>Refresh
        </button>
    </div>

    <div class="notes-list" [@listAnim]>
        <app-note-card
        style="cursor: pointer; display: block;"
        *ngFor="let item of filteredNotes; index as i"
        [@itemAnim]
        (delete)="deleteNote(item.id)"
        [id]="item.id"
        [title]="item.title"
        [description]="item.description"
        [date]="item.date"
        ></app-note-card>
        
    </div>
 
    

    <mat-paginator [length]="notes.length" [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" (page)="OnPageChange($event)"
        showFirstLastButtons>
    </mat-paginator>



</div>